/* Standard */
.button {
    height: var(--input-height);
    color: var(--color-alt);
    background-color: var(--primary-color);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--button-border-radius);
    padding: var(--padding-less) var(--padding);
    font-size: var(--font-size-smaller);
    transition: background-color var(--animation-speed) var(--animation-style),
                color var(--animation-speed) var(--animation-style),
                border-color var(--animation-speed) var(--animation-style);
    gap: var(--gap);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all var(--animation-speed);
}
.button .svg-icon path {
    stroke: var(--color-alt);
}

.button.icon {
    padding: unset;
    min-width: var(--input-height);
    min-height: var(--input-height);
    max-width: var(--input-height);
    max-height: var(--input-height);
}
.button.round {
    width: var(--input-height);
    height: var(--input-height);
}
.button:hover {
    cursor: pointer;
    background-color: var(--primary-color-alt);
}

/* Tooltips */
.button.tooltip {
    position: relative;
}
.button.tooltip:before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(100% + var(--gap));
    white-space: nowrap;
    width: fit-content;
    padding: var(--padding-less);
    border-radius: var(--border-radius-minimal);
    border: var(--border-width) solid var(--border-color);
    background:var(--tooltip-color);
    color: var(--color);
    font-size: var(--font-size-smaller);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    height: fit-content;
    z-index: 3;
    transition: all var(--animation-speed);
}
.button.tooltip-right:before {
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: var(--gap);
}
.button.tooltip-left:before {
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    margin-right: var(--gap);
}
.button.tooltip-bottom:before {
    top: calc(100% + var(--gap));
}
.button.tooltip:hover:before {
    opacity: 1;
}

/* Secondary */
.button.alt {
    background-color: var(--alt-color);
    color: var(--color);
}
.button.alt .svg-icon path {
    stroke: var(--color);
}
.button.alt:hover {
    background-color: var(--alt-color-alt);
}

/* Success */
.button.success {
    background-color: var(--success-color);
    color: var(--color-alt);
}
.button.success:hover {
    background-color: var(--success-color-alt);
}

/* Info */
.button.info {
    background-color: var(--info-color);
}
.button.info:hover {
    background-color: var(--info-color-alt);
}

/* error */
.button.error {
    color: var(--color-alt);
    background-color: var(--error-color);
}
.button.error:hover {
    background-color: var(--error-color-alt);
}

/* Outlined */
.button.outlined {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.button.outlined:hover {
    background-color: var(--primary-color-alt);
    color: var(--color-alt);
}

/* Transparent */
.button.transparent {
    background-color: transparent;
    border-color: transparent;
    color: var(--color);
}

.button.button.transparent .svg-icon path {
    stroke: var(--color);
}

.button.transparent:hover {
    background-color: var(--alt-color-alt);
    border-color: var(--border-color);
}

/* Alt Outlined */
.button.alt.outlined {
    border-color: var(--border-color);
    color: var(--color);
}
.button.alt.outlined:hover {
    background-color: var(--alt-color);
}


/* Success Outlined */
.button.outlined.success {
    background-color: transparent;
    border-color: var(--success-color);
    color: var(--success-color);
}
.button.outlined.success:hover {
    background-color: var(--success-color-alt);
    color: var(--color-alt);
}

/* Info Outlined */
.button.outlined.info {
    background-color: transparent;
    border-color: var(--info-color);
    color: var(--info-color);
}
.button.outlined.info:hover {
    background-color: var(--info-color-alt);
    color: var(--color-alt);
}

/* error Outlined */
.button.outlined.error {
    background-color: transparent;
    border-color: var(--error-color);
    color: var(--error-color);
}
.button.outlined.error:hover {
    background-color: var(--error-color-alt);
    color: var(--color-alt);
}

.button:focus, .button:active { /* Accessability support */
    box-shadow: 0 0 0 var(--shadow-depth) var(--focus-color);
    outline: none;
    border: var(--border-width) solid var(--focus-color);
}