<div class="container bordered">
    <h2 class="title">Payment</h2>
    <div class="payment" id="payment">
        <div class="payment-amount">
            <svg class="currency-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.25 7.75625C12.667 7.19798 10.8341 7.5519 9.56802 8.81802C7.81066 10.5754 7.81066 13.4246 9.56802 15.182C10.8341 16.4481 12.667 16.802 14.25 16.2437M7.5 10.5H12.75M7.5 13.5H12.75M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <input  class="custom-input" type="number" min="0.01" step="0.01" value="24.82" max="999,999.99" />
        </div>
        <div class="payment-note">
            <!-- Alt Input -->
            <div class="input-group alt">
                <div class="input-container">
                    <input
                        class="input"
                        type="text"
                        placeholder="Add a note..." />
                </div>
            </div>
        </div>
        <div class="select-recipient">
            <label class="label">Recipients:</label>
            <div class="recipient-list">
                <div class="mini-recipient">
                    <div class="profile-picture smallest">
                        <img class="profile-image" src="/assets/blue_marble.png" alt="">
                    </div>
                    <p class="username hover-text" data-hover-text="Johnny Space">Johnny Space</p>
                    <svg class="svg-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 18L18 6M6 6L18 18" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="mini-recipient">
                    <div class="profile-picture smallest">
                        <img class="profile-image" src="/assets/mars.png" alt="">
                    </div>
                    <p class="username hover-text" data-hover-text="Manny Mars">Manny Mars</p>
                    <svg class="svg-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 18L18 6M6 6L18 18" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="mini-recipient">
                    <div class="profile-picture smallest">
                        <img class="profile-image" src="/assets/pluto.png" alt="">
                    </div>
                    <p class="username hover-text" data-hover-text="Space Kevin">Space Kevin</p>
                    <svg class="svg-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 18L18 6M6 6L18 18" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <label class="label">Select recipient(s)</label>
            <div class="recipient-selection-list">
                <div class="recipient">
                    <div class="profile-picture">
                        <img class="profile-image" src="/assets/moon.png" alt="">
                        <div class="status-indicator online"></div>
                    </div>
                    <div class="info">
                        <p class="username">Lunar Lucas</p>
                        <p class="subtext text-muted hover-text" data-hover-text="did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK">
                            did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK
                        </p>
                    </div>
                    <input type="checkbox" />
                </div>
                <div class="recipient">
                    <div class="profile-picture">
                        <img class="profile-image" src="/assets/blue_marble.png" alt="">
                        <div class="status-indicator online"></div>
                    </div>
                    <div class="info">
                        <p class="username">Johnny Space</p>
                        <p class="subtext text-muted hover-text" data-hover-text="did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK">
                            did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK
                        </p>
                    </div>
                    <input type="checkbox" checked />
                </div>
                <div class="recipient">
                    <div class="profile-picture">
                        <img class="profile-image" src="/assets/mars.png" alt="">
                        <div class="status-indicator online"></div>
                    </div>
                    <div class="info">
                        <p class="username">Manny Mars</p>
                        <p class="subtext text-muted hover-text" data-hover-text="did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK">
                            did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK
                        </p>
                    </div>
                    <input type="checkbox" checked />
                </div>
                <div class="recipient">
                    <div class="profile-picture">
                        <img class="profile-image" src="/assets/pluto.png" alt="">
                        <div class="status-indicator online"></div>
                    </div>
                    <div class="info">
                        <p class="username">Space Kevin</p>
                        <p class="subtext text-muted hover-text" data-hover-text="did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK">
                            did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK
                        </p>
                    </div>
                    <input type="checkbox" checked />
                </div>
                <div class="recipient">
                    <div class="profile-picture">
                        <img class="profile-image" src="/assets/neptune.png" alt="">
                        <div class="status-indicator online"></div>
                    </div>
                    <div class="info">
                        <p class="username">Philltune</p>
                        <p class="subtext text-muted hover-text" data-hover-text="did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK">
                            did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK
                        </p>
                    </div>
                    <input type="checkbox" />
                </div>
                <div class="recipient">
                    <div class="profile-picture">
                        <img class="profile-image" src="/assets/saturn.png" alt="">
                        <div class="status-indicator online"></div>
                    </div>
                    <div class="info">
                        <p class="username">Sara Saturn</p>
                        <p class="subtext text-muted hover-text" data-hover-text="did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK">
                            did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGpbnnEGta2doK
                        </p>
                    </div>
                    <input type="checkbox"/>
                </div>
            </div>
        </div>
        <div class="payment-controls">
            <div class="progress-bar success">
                <div class="track">
                    <div class="bar" style="width: 50%"></div>
                </div>
                <label class="progress-label">Hold for <span id="seconds">3</span> seconds...</label>
            </div>
            
            <div class="buttons">
                <button class="button success" id="confirm">
                    Confirm
                </button>
                <button class="button alt">
                    Cancel
                </button>
            </div>
        </div>

        <!-- Success Splash -->
        <div id="success-splash">
            <h2>It's Sent!</h2>

            <p class="label">Your payment to 
                <span id="success-recipients">
                    <span class="recipient">
                        Johnny Space,
                    </span>
                    <span class="recipient">
                        Manny Mars,
                    </span>
                    <span class="recipient">
                        and Space Kevin
                    </span>
                </span>
                has been sent.
            </p>

            <div class="transaction-detail">
                <label class="label">Note:</label> <span class="subtext">Sample transaction, could be for pizza. . . space pizza!</span>
            </div>
            <div class="transaction-detail">
                <label class="label">Sent To:</label> <span class="subtext">Johnny Space, Manny Mars, Space Kevin.</span>
            </div>

            <div class="transaction-detail">
                <label class="label">Sent At:</label> <span class="subtext">Mon Feb 19, 5:38pm</span>
            </div>
            <div class="transaction-detail">
                <label class="label">Amount (x3):</label> <span class="subtext">$30.44</span>
            </div>
            <div class="transaction-detail">
                <label class="label">Fees:</label> <span class="subtext">$00.04</span>
            </div>
            <div class="transaction-detail">
                <label class="label">Total:</label> <span class="subtext">$91.36</span>
            </div>

             <!-- Controls -->
            <div class="controls">
                <button class="button full-width" alt="done-button">
                    Done
                </button>
            </div>
        </div>

       
    </div>
</div>