<!DOCTYPE html>
<html lang="en">
<head>
    <title>Keyboard Key</title>
    <link rel="stylesheet" type="text/css" href="/html/base.css" />
    <style type="text/css">
        body {
            padding: var(--padding);
            display: inline-flex;
            flex-direction: column;
            gap: calc(var(--gap) * 4);
        }
    </style>
</head>
<body>
    <div class="container column">
        <h1>Keyboard Key</h1>
        <p>
           This is a very simple component which displays a keyboard key.
        </p>
    </div>
    <div class="container bordered">
        <h2 class="title">Keyboard Keys</h2>
        <div class="key">
            <span>
                W
            </span>
        </div>
        <div class="key">
            <span>
                A
            </span>
        </div>
        <div class="key">
            <span>
                S
            </span>
        </div>
        <div class="key">
            <span>
                D
            </span>
        </div>
    </div>
</body>
</html>