.progress-bar {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-radius: calc(var(--progress-bar-height) / 2);
    color: var(--color-muted);
}
.progress-bar .progress-label {
    font-family: "Secondary";
    font-size: var(--label-size);
}

.progress-bar .track {
    height: var(--progress-bar-height);
    width: 100%;
    border: var(--border-width) solid var(--border-color);
    background-color: var(--alt-color-alt);
    border-radius: calc(var(--progress-bar-height) / 2);
}

.progress-bar .track .bar {
    height: 100%;
    background-color: var(--primary-color);
    border-radius: calc(var(--progress-bar-height) / 2);
}