.switch {
    user-select: none;
    cursor: pointer;
    border: none;
    position: relative;
    display: inline-block;
    width: calc(var(--switch-size) * 2);
    height: var(--switch-size);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--switch-size);
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch input:checked + .slider {
    background-color: var(--success-color);
}
.switch input:checked + .slider:before {
    transform: translateX(var(--switch-size));
}
.switch input:focus + .slider { /* Accessability support */
    box-shadow: 0 0 0 var(--shadow-depth) var(--focus-color);
}
.switch .slider {
    user-select: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--alt-color);
    transition: var(--animation-speed);
    border-radius: var(--switch-size);
}
.switch .slider:before {
    position: absolute;
    content: "";
    height: calc(var(--switch-size) - (var(--border-width) * 2)); /* Math here subtracts the border size on the parent slider */
    width: calc(var(--switch-size) - (var(--border-width) * 2)); /* Math here subtracts the border size on the parent slider */
    left: 0;
    border-radius: var(--switch-size);
    background-color: var(--color);
    transition: var(--animation-speed);
    box-shadow: 0 0 0 var(--shadow-depth) var(--border-color);
}
