.progress-button {
    font-family: "Secondary";
    position: relative;
    margin: var(--border-width-more);
    width: var(--input-height);
    height: var(--input-height);
    padding: unset;
}
.svg {
    pointer-events: none;
    position: absolute;
    left: calc((var(--border-width-more) * -1));
    top: calc((var(--border-width-more) * -1));
}
.svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset var(--animation-speed) linear;
    stroke: var(--alt-color-alt);
    stroke-width: var(--border-width-more);
}
.svg .bar {
    stroke: var(--color);
    stroke-dashoffset: 70%;
}

.svg.info .bar {
    stroke: var(--info-color);
}
.svg.primary .bar {
    stroke: var(--primary-color);
}
.svg.alt .bar {
    stroke: var(--alt-color);
}
.svg.warning .bar {
    stroke: var(--warning-color);
}
.svg.error .bar {
    stroke: var(--error-color);
}