<div class="container bordered">
    <h2 class="title">Color Swatches</h2>
    
    <!-- Colors sampled from https://flatuicolors.com/palette/ru -->
    <div class="color-swatch tooltip" data-tooltip="Creamy Peach" style="background-color: #f3a683" ></div>
    <div class="color-swatch tooltip" data-tooltip="Rosy Highlight" style="background-color: #f7d794"></div>
    <div class="color-swatch tooltip" data-tooltip="Soft Blue" style="background-color: #778beb"></div>
    <div class="color-swatch tooltip" data-tooltip="Brewed Mustard" style="background-color: #e77f67"></div>
    <div class="color-swatch tooltip" data-tooltip="Old Geranium" style="background-color: #cf6a87"></div>
    <div class="color-swatch tooltip" data-tooltip="Purple Mountain Majesty" style="background-color: #786fa6"></div>
    <div class="color-swatch tooltip" data-tooltip="Rogue Pink" style="background-color: #f8a5c2"></div>
    <div class="color-swatch tooltip" data-tooltip="Squeaky" style="background-color: #63cdda"></div>
    <div class="color-swatch tooltip" data-tooltip="Apple Valley" style="background-color: #ea8685"></div>
    <div class="color-swatch tooltip" data-tooltip="Pencil Lead" style="background-color: #596275"></div>
</div>