.navigation {
    display: inline-flex;
    gap: var(--gap);
    justify-content: space-evenly;
    width: 100%;
}

.navigation.navigation-vertical {
    flex-direction: column;
}

.navigation .navigation-control {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.navigation .navigation-control .label {
    font-family: "Secondary";
}