.range-selector .range {
    -webkit-appearance: none;
    background-color: var(--alt-color);
    height: var(--slider-height);
    overflow: hidden;
    width: 400px;
    border-radius: calc(var(--slider-height) / 1.5);
    border: var(--border-width) solid var(--border-color);
}

.range-selector .range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: var(--slider-height);
    border: var(--border-width) solid var(--border-color);
}

.range-selector .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--color);
    box-shadow: -210px 0 0 200px var(--primary-color);
    cursor: pointer;
    height: calc(var(--slider-height) - var(--border-width));
    width: calc(var(--slider-height) * 1.5);
    border-radius: calc(var(--slider-height) / 2);
    border: var(--border-width) solid var(--border-color);
}

.range-selector .range::-moz-range-thumb {
    background: var(--color);
    box-shadow: -210px 0 0 200px var(--primary-color);
    cursor: pointer;
    height: var(--slider-height);
    width: calc(var(--slider-height) * 1.5);
    border: 0;
    border-radius: calc(var(--slider-height) / 2);
}

.range-selector .range::-moz-range-track {
    background-color: var(--alt-color);
}
.range-selector .range::-moz-range-progress {
    background-color: var(--alt-color);
    height: var(--slider-height);
}
.range-selector .range::-ms-fill-upper {
    background-color: var(--alt-color);
}
.range-selector .range::-ms-fill-lower {
    background-color: var(--alt-color);
}