/* Base */
.pin-input-group {
    position: relative;
    height: fit-content;
    display: inline-flex;
    flex-direction: column;
    gap: var(--gap);
}
.pin-input-group .pin-display {
    display: inline-flex;
    gap: var(--gap);
    justify-content: center;
    padding: var(--padding) 0;
}
/* Dots */
.pin-input-group .pin-display .dot {
    width: var(--font-size);
    height: var(--font-size);
    background-color: var(--primary-color);
    border-radius: 50%;
    border: var(--border-width) solid var(--border-color);
    display: inline-block;
}
.pin-input-group .pin-display .dot.filled {
    background-color: var(--info-color);
}
/* Hidden Stuff */
.pin-input-group .shadow-input {
    position: absolute;
    top: calc(var(--padding) / 1.5);
    left: 0;
}
.pin-input-group .shadow-input input {
    background-color: transparent;
    height: 100%;
    width: 100%;
    /* We avoid the simple use of setting opacity to zero here to support password managers */
    color: transparent;
    border: none;
    outline: none;
}
/* TODO: Highlight pins when shadow_input is focused */

.pin-input-group .shadow-input input::selection {
    background: transparent;
}

.pin-input-group .pin-keypad {
    width: calc((var(--input-height) * 3) + (var(--gap) * 3));
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);
}
.pin-input-group .pin-keypad .pin-key {
    height: var(--input-height);
    width: var(--input-height);
}