.button {
    height: var(--input-height);
    color: var(--color);
    background-color: var(--primary-color);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--button-border-radius);
    padding: var(--padding-less) var(--padding);
    font-size: var(--font-size-smaller);
    transition: background-color var(--animation-speed) var(--animation-style),
                color var(--animation-speed) var(--animation-style),
                border-color var(--animation-speed) var(--animation-style);
    gap: var(--gap);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.icon {
        padding: unset;
        min-width: var(--input-height);
        min-height: var(--input-height);
        max-width: var(--input-height);
        max-height: var(--input-height);
    }

    &.round {
        width: var(--input-height);
        height: var(--input-height);
    }

    &:hover {
        cursor: pointer;
        background-color: var(--primary-color-alt);
    }

    &.alt {
        background-color: var(--alt-color);
        color: var(--color);

        &:hover {
            background-color: var(--alt-color-alt);
        }
    }

    &.success {
        background-color: var(--success-color);
        color: var(--color-alt);

        &:hover {
            background-color: var(--success-color-alt);
        }
    }

    &.info {
        background-color: var(--info-color);

        &:hover {
            background-color: var(--info-color-alt);
        }
    }

    &.error {
        color: var(--color-alt);
        background-color: var(--error-color);

        &:hover {
            background-color: var(--error-color-alt);
        }
    }

    &.outlined {
        background-color: transparent;
        border-color: var(--primary-color);
        color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color-alt);
            color: var(--color-alt);
        }

        &.alt {
            border-color: var(--border-color);
            color: var(--color);

            &:hover {
                background-color: var(--alt-color);
            }
        }

        &.success {
            border-color: var(--success-color);
            color: var(--success-color);

            &:hover {
                background-color: var(--success-color-alt);
                color: var(--color-alt);
            }
        }

        &.info {
            border-color: var(--info-color);
            color: var(--info-color);

            &:hover {
                background-color: var(--info-color-alt);
                color: var(--color-alt);
            }
        }

        &.error {
            border-color: var(--error-color);
            color: var(--error-color);

            &:hover {
                background-color: var(--error-color-alt);
                color: var(--color-alt);
            }
        }
    }

    &:focus, &:active { /* Accessibility support */
        box-shadow: 0 0 0 var(--shadow-depth) var(--focus-color);
        outline: none;
        border: var(--border-width) solid var(--focus-color);
    }
}
