body {
    display: inline-flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.left, .right {
    height: 100%;
    padding: var(--padding);
}

.left {
    border-right: var(--border-width) solid var(--border-color);
}