<div class="container bordered">
    <h2 class="title">Chat Preview</h2>
    <div class="chat-preview">
        <div class="profile-picture small">
            <img class="profile-image" src="/assets/moon.png" alt="">
            <div class="status-indicator online"></div>
        </div>
        <div class="content">
            <div class="heading">
                <h3 class="chat-user">Johnny Space</h3>
                <p class="timestamp">3 min ago</p>
                <label class="unreads">3</label>
            </div>
            <p class="last-message">We choose to go to the moon. We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills.</p>
        </div>
    </div>
</div>