.chat-preview {
    display: inline-flex;
    flex-direction: row;
    gap: var(--gap);
    background-color: var(--alt-color);
    padding: var(--padding-less);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    user-select: none;
    transition: all var(--animation-speed);
}

.chat-preview:hover {
    background-color: var(--alt-color-alt);
    cursor: pointer;
}

.chat-preview .content {
    flex: 1;
}

.chat-preview .content .heading {
    display: inline-flex;
    align-items: center;
    gap: var(--gap);
    width: 100%;
    position: relative;
}

.chat-preview .content .heading .unreads {
    position: absolute;
    right: calc(var(--padding-less) * -0.5);
    top: calc(var(--padding-less) * -0.5);
    background-color: var(--error-color);
    font-size: var(--font-size-smaller);
    font-family: "Secondary";
    padding: 0 var(--padding-minimal);
    border-radius: var(--border-radius-minimal);
}

.chat-preview .content .heading .unreads.simple {
    content: none;
    color: var(--primary-color);
    font-size: 0rem;
    height: var(--label-size);
    width: var(--label-size);
    border-radius: calc(var(--label-size) / 2);
    background-color: var(--primary-color);
}

.chat-preview .content .chat-user {
    display: inline-flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--text-size);
    font-weight: bold;
    white-space: nowrap;
}

.chat-preview .content .heading .timestamp {
    font-size: var(--font-size-smallest);
    color: var(--color-muted);
    white-space: nowrap;
}

.chat-preview .content .last-message {
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--font-size-smaller);
}