<div class="container bordered">
    <h2 class="title">Profile Picture Highlight</h2>
    <div class="profile-picture highlight-info">
        <img class="profile-image" src="/assets/blue_marble.png" alt="">
        <div class="status-indicator online"></div>
    </div>
    <div class="profile-picture highlight-success">
        <img class="profile-image" src="/assets/jupiter.png" alt="">
        <div class="status-indicator online"></div>
    </div>
    <div class="profile-picture highlight-warning">
        <img class="profile-image" src="/assets/mars.png" alt="">
        <div class="status-indicator online"></div>
    </div>
    <div class="profile-picture highlight-danger">
        <img class="profile-image" src="/assets/moon.png" alt="">
        <div class="status-indicator online"></div>
    </div>
</div>

<div class="container bordered">
    <h2 class="title">Profile Picture Status</h2>
    <div class="profile-picture">
        <img class="profile-image" src="/assets/blue_marble.png" alt="">
        <div class="status-indicator online"></div>
    </div>
    <div class="profile-picture">
        <img class="profile-image" src="/assets/jupiter.png" alt="">
        <div class="status-indicator offline"></div>
    </div>
    <div class="profile-picture">
        <img class="profile-image" src="/assets/mars.png" alt="">
        <div class="status-indicator idle"></div>
    </div>
    <div class="profile-picture">
        <img class="profile-image" src="/assets/moon.png" alt="">
        <div class="status-indicator do-not-disturb"></div>
    </div>
</div>

<div class="container bordered">
    <h2 class="title">Profile Picture Active</h2>
    <div class="profile-picture">
        <img class="profile-image" src="/assets/pluto.png" alt="">
        <div class="typing-indicator"></div>
        <div class="status-indicator online"></div>
    </div>
</div>

<div class="container bordered">
    <h2 class="title">Profile Picture w/ Badge</h2>
    <div class="profile-picture">
        <img class="profile-image" src="/assets/neptune.png" alt="">
        <div class="status-indicator online"></div>
        <label class="badge">3</label>
    </div>
</div>