<div class="container bordered column">
    <h2 class="title">Single Message Bubble</h2>
    <div class="message-container">
        <div class="message-bubble">
            <p>This is text inside a message.</p>
        </div>
    </div>
    <div class="message-container">
        <div class="message-bubble remote">
            <p>This is text inside remote a message.</p>
        </div>
    </div>
</div>

<div class="container bordered column">
    <h2 class="title">Single Message Reply Bubble</h2>
    <div class="message-container">
        <div class="message-bubble reply">
            <span class="reply-arrow">↪</span>
            <p>This is a reply to another message.</p>
        </div>
    </div>
    <div class="message-container">
        <div class="message-bubble reply remote">
            <p>This is a reply to another message.</p>
            <span class="reply-arrow">↩</span>
        </div>
    </div>
</div>

<div class="container bordered column">
    <h2 class="title">Single Message Highlights</h2>
    <div class="message-bubble remote highlight-info">
        <p>This is text inside a message.</p>
    </div>
    <div class="message-bubble remote highlight-success">
        <p>This is text inside a message.</p>
    </div>
    <div class="message-bubble remote highlight-warning">
        <p>This is text inside a message.</p>
    </div>
    <div class="message-bubble remote highlight-danger">
        <p>This is text inside a message.</p>
    </div>
</div>

<div class="container bordered column">
    <h2 class="title">Single Message Bubble w/ Reactions</h2>
    
    <div class="message-container">
        <div class="message-bubble">
            <p>This is text inside a message.</p>
        </div>
        <div class="message-reactions">
            <div class="reaction">
                <span class="emoji">👍</span>
                <span class="count">3</span>
            </div>
            <div class="reaction highlight-primary">
                <span class="emoji">🔥</span>
                <span class="count">1</span>
            </div>
        </div>
    </div>
    <div class="message-container">
        <div class="message-bubble remote">
            <p>This is text inside remote a message.</p>
        </div>
    </div>
</div>

<div class="container bordered column">
    <h2 class="title">Grouped Message Bubble</h2>
    <div class="message-group">
        <div class="message-container">
            <div class="message-bubble">
                <p>Silent lake at night</p>
            </div>
        </div>
        <div class="message-container">
            <div class="message-bubble">
                <p>Reflecting stars in its depths</p>
            </div>
            <div class="message-reactions">
                <div class="reaction">
                    <span class="emoji">🌎</span>
                    <span class="count">1</span>
                </div>
                <div class="reaction">
                    <span class="emoji">🌕</span>
                    <span class="count">2</span>
                </div>
            </div>
        </div>
        <div class="message-container">
            <div class="message-bubble">
                <p>Space meets earth below.</p>
            </div>
        </div>
    </div>

    

    <div class="message-group remote">
        <div class="message-container">
            <div class="message-bubble remote">
                <p>Silent space above</p>
            </div>
        </div>
        <div class="message-container">
            <div class="message-bubble remote">
                <p>Stars twinkle in the darkness</p>
            </div>
            <div class="message-reactions remote">
                <div class="reaction">
                    <span class="emoji">🪐</span>
                    <span class="count">5</span>
                </div>
            </div>
        </div>
        <div class="message-container">
            <div class="message-bubble remote">
                <p>Endless universe.</p>
            </div>
        </div>
    </div>
</div>