.message-bubble {
    background-color: var(--primary-color);
    padding: var(--padding-less) var(--padding);
    border-radius: var(--border-radius-more);
    border-bottom-right-radius: var(--border-radius-minimal);
    width: fit-content;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    gap: var(--gap);
    color: var(--color-alt);
}

.message-bubble.remote {
    background-color: var(--alt-color);
    border-radius: var(--border-radius-more);
    border-bottom-left-radius: var(--border-radius-minimal);
    align-self: flex-start;
    color: var(--color);
}

.message-bubble.reply {
    font-size: var(--font-size-smaller);
}

.message-bubble.reply .reply-arrow {
    opacity: 0.5;
}

.message-container {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    display: inline-flex;
    justify-content: flex-end;
    gap: var(--gap);
}

.message-group {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap);
    width: 100%;
}

.message-group.remote {
    align-items: flex-start;
}

/* Corner rounding */
.message-group .message-container:first-child .message-bubble {
    border-radius: var(--border-radius-more);
    border-bottom-right-radius: var(--border-radius-minimal);
}
.message-group .message-container:not(:first-child):not(:last-child) .message-bubble {
    border-radius: var(--border-radius-more);
    border-top-right-radius: var(--border-radius-minimal);
    border-bottom-right-radius: var(--border-radius-minimal);
}
.message-group .message-container:last-child .message-bubble {
    border-radius: var(--border-radius-more);
    border-top-right-radius: var(--border-radius-minimal);
}

.message-group .message-container:first-child .message-bubble.remote {
    border-radius: var(--border-radius-more);
    border-bottom-left-radius: var(--border-radius-minimal);
}
.message-group .message-container:not(:first-child):not(:last-child) .message-bubble.remote {
    border-radius: var(--border-radius-more);
    border-top-left-radius: var(--border-radius-minimal);
    border-bottom-left-radius: var(--border-radius-minimal);
}
.message-group .message-container:last-child .message-bubble.remote {
    border-radius: var(--border-radius-more);
    border-top-left-radius: var(--border-radius-minimal);
}

/* Reactions */
.message-container .message-reactions {
    display: inline-flex;
    justify-content: flex-end;
    gap: var(--gap);
}
.message-container .message-reactions.remote {
    justify-content: flex-start;
}
.message-container .reaction {
    font-family: "Secondary";
    border: var(--border-width) solid var(--border-color);
    background-color: var(--alt-color-alt);
    width: fit-content;
    padding: var(--padding-minimal) var(--padding-less);
    border-radius: var(--border-radius-more);
    align-self: flex-end;
    cursor: pointer;
    font-size: var(--label-size);
    justify-content: center;
    align-items: center;
}
.message-container .reaction:hover {
    background-color: var(--alt-color);
}


.message-container .message-reactions .reaction.highlight-primary {
    background-color: var(--primary-color);
}
.message-container .message-reactions .reaction.highlight-primary:hover {
    background-color: var(--primary-color-alt);
}
.message-container .message-reactions .reaction.highlight-info {
    background-color: var(--info-color);
}
.message-container .message-reactions .reaction.highlight-info:hover {
    background-color: var(--info-color-alt);
}

/* Highlights */
.message-bubble.highlight-success {
    border: var(--border-width) solid var(--success-color);
}
.message-bubble.highlight-info {
    border: var(--border-width) solid var(--info-color);
}
.message-bubble.highlight-warning {
    border: var(--border-width) solid var(--warning-color);
}
.message-bubble.highlight-error {
    border: var(--border-width) solid var(--error-color);
}