.input-group {
    display: inline-flex;
    flex-direction: column;
}
.input-group .input-container {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--input-radius);
    background-color: var(--color);
    display: inline-flex;
    gap: var(--gap);
    padding: var(--padding-minimal) var(--gap);
    align-items: center;
}
.input-group .input {
    background-color: transparent;
    border: none;
    flex: 1;
}
.input-group.alt .input-container {
    background-color: var(--alt-color);
}
.input-group.alt .input {
    color: var(--color);
}
.input-group .input:focus {
    outline: none;
    border: none;
}
.input::placeholder {
    color: var(--color-alt);
    opacity: 0.75;
    font-size: var(--label-size);
}
.input-group.alt .input::placeholder {
    color: var(--color);
}
.input-group .input-container:focus-within {
    box-shadow: 0 0 0 var(--shadow-depth) var(--focus-color);
}
.input-group.highlight .input-container {
    border-color: var(--success-color);
}
.input-group.highlight-error .input-container {
    border-color: var(--danger-color);
}
.input-group.highlight-warning .input-container {
    border-color: var(--warning-color);
}
.input-group.highlight-info .input-container {
    border-color: var(--info-color);
}
.input-group.highlight-success .input-container {
    border-color: var(--success-color);
}