<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" type="text/css" href="/html/base.css" />
    <style type="text/css">
        body {
            padding: var(--padding);
            display: inline-flex;
            flex-direction: column;
            gap: calc(var(--gap) * 4);
        }
    </style>
    <script>
        function includeHTML() {
          var z, i, elmnt, file, xhttp;
          /*loop through a collection of all HTML elements:*/
          z = document.getElementsByTagName("*");
          for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain attribute:*/
            file = elmnt.getAttribute("include-html");
            if (file) {
              /*make an HTTP request using the attribute value as the file name:*/
              xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                  if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                  if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                  /*remove the attribute, and call this function once more:*/
                  elmnt.removeAttribute("include-html");
                  includeHTML();
                }
              }
              xhttp.open("GET", file, true);
              xhttp.send();
              /*exit the function:*/
              return;
            }
          }
        };
    </script>
</head>
<body>
    <div class="column-flex">
        <!-- Container -->
        <div class="column-flex" include-html="/html/components/container/container.html"></div> 
        <!-- Progress Button -->
        <div class="column-flex" include-html="/html/components/progress-button/progress-button.html"></div> 
        <!-- Message Bubble -->
        <div class="column-flex" include-html="/html/components/message-bubble/message-bubble.html"></div>
        <!-- Key -->
        <div class="column-flex" include-html="/html/components/key/key.html"></div>
        <!-- Progress Bar --> 
        <div class="column-flex" include-html="/html/components/progress-bar/progress-bar.html"></div>  
        <!-- Profile Picture -->
        <div class="column-flex" include-html="/html/components/profile-picture/profile-picture.html"></div> 
    </div>
    <script>
        includeHTML();
    </script>
</body>
</html>