input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: calc(var(--border-width) * 2) solid var(--color);
    border-radius: var(--border-radius-minimal);
    display: grid;
    place-content: center;
}

input[type="checkbox"]:focus {
    box-shadow: 0 0 0 var(--shadow-depth) var(--focus-color);
    border-color: var(--info-color);
    outline: none;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: var(--animation-speed) transform var(--animation-style),
                var(--animation-speed) border-color var(--animation-style); /* TODO: This isn't working for some reason */
    box-shadow: inset 2em 2em var(--form-control-color);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
  
input[type="checkbox"]:checked {
    border-color: var(--info-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: var(--info-color);
}
