/* Layouts & Globals */
@import url(/html/layout.css);
@import url(/html/clear.css);

/* Element Imports */
@import url(/html/elements/button/style.css);
@import url(/html/elements/checkbox/style.css);
@import url(/html/elements/input/style.css);
@import url(/html/elements/label/style.css);
@import url(/html/elements/switch/style.css);
@import url(/html/elements/icon/icon.css);

/* Component Imports */
@import url(/html/components/container/style.css);
@import url(/html/components/pin-input/style.css);
@import url(/html/components/key/style.css);
@import url(/html/components/profile-picture/style.css);
@import url(/html/components/message-bubble/style.css);
@import url(/html/components/progress-button/style.css);
@import url(/html/components/progress-bar/style.css);

/* Layouts */
@import url(/html/layouts/download-queue/style.css);


@font-face {
    font-family: "Primary";
    src: url(/assets/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Secondary";
    src: url(/assets/font/SpaceMono-Regular.ttf);
}

body {
    background-color: var(--background);
    font-family: "Primary";
    font-size: var(--font-size);
    color: var(--color);
}

::selection {
    color: var(--color-bright);
    background: var(--highlight-color);
    border-radius: var(--border-radius);
}

:root {
    --background: #222431;

    --animation-speed: 0.2s;
    --animation-style: ease;
    
    --color: #c8d3f5;
    --color-bright: #fff;
    --color-muted: #7278ae;
    --color-alt: #000;

    --focus-color: var(--info-color);
    --highlight-color: #4D4DFF;

    --primary-color: #4D4DFF;
    --primary-color-alt: #5c5cf8;

    --alt-color: #363851;
    --alt-color-alt: #3f415f;

    --success-color: #2ed573;
    --success-color-alt: #33ed80;

    --info-color: #1e90ff;
    --info-color-alt: #46a1fd;

    --danger-color: #f53b57;
    --danger-color-alt: #ef5777;
    
    --warning-color: #fff200;
    --warning-color-alt: #fcf228;
    
    --border-color: #111130;
    --border-color-alt: #1c1c26;

    --input-height: 2.5rem;

    /* Border Radius / Corners */
    --border-width: 1px;
    --border-width-more: 4px;
    --border-radius: 0.5rem;
    --border-radius-more: 1.5rem;
    --border-radius-minimal: 0.25rem;

    /* Elements */
    --button-border-radius: 1.2rem;
    --progress-bar-height: 0.75rem;

    --margin: 2rem;
    --padding: 1rem;
    --padding-less: 0.4rem;
    --padding-minimal: 0.25rem;
    --gap: 0.5rem;
    
    --font-size: 1rem;
    --font-size-smaller: 0.85rem;
    --icon-size: 1rem;
    --label-size: 0.9rem;
    --code-size: 0.9rem;
    --profile-picture-size: 4rem;

    --checkbox-size: 1.25rem;
    --switch-size: 1.5rem;

    --shadow-depth: 1px;
}

.link {
    color: var(--info-color);
}
code {
    background-color: var(--alt-color);
    padding: var(--padding-minimal);
    border-radius: var(--border-radius-minimal);
    font-size: var(--code-size);
}