/* Layouts & Globals */
@import url(/html/layout.css);
@import url(/html/clear.css);

/* Element Imports */
@import url(/html/elements/button/style.css);
@import url(/html/elements/checkbox/style.css);
@import url(/html/elements/input/style.css);
@import url(/html/elements/label/style.css);
@import url(/html/elements/switch/style.css);
@import url(/html/elements/icon/icon.css);
@import url(/html/elements/select/style.css);
@import url(/html/elements/range-selector/style.css);

/* Component Imports */
@import url(/html/components/container/style.css);
@import url(/html/components/pin-input/style.css);
@import url(/html/components/key/style.css);
@import url(/html/components/profile-picture/style.css);
@import url(/html/components/message-bubble/style.css);
@import url(/html/components/progress-button/style.css);
@import url(/html/components/progress-bar/style.css);
@import url(/html/components/meter/style.css);
@import url(/html/components/coin-balance/style.css);
@import url(/html/components/color-swatch/style.css);
@import url(/html/components/chat-preview/style.css);
@import url(/html/components/payment/style.css);

/* Layouts */
@import url(/html/layouts/download-queue/style.css);
@import url(/html/layouts/navigation/style.css);
@import url(/html/layouts/sidebar/style.css);
@import url(/html/layouts/toolbar/style.css);

@font-face {
    font-family: "Primary";
    src: url(/assets/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Secondary";
    src: url(/assets/font/SpaceMono-Regular.ttf);
}

body {
    background-color: var(--background);
    font-family: "Primary";
    font-size: var(--font-size);
    color: var(--color);
}

::selection {
    color: var(--color-bright);
    background: var(--highlight-color);
    border-radius: var(--border-radius);
}

:root {
    --background: #000;

    --animation-speed: 0.2s;
    --animation-style: ease;
    
    --color: #d6def4;
    --color-bright: #fff;
    --color-muted: #b6b5b6;
    --color-alt: #000;

    --focus-color: var(--info-color);
    --highlight-color: #1e90ff;

    --primary-color: #ffaf5f;
    --primary-color-alt: #fcb56d;

    --alt-color: #262833;
    --alt-color-alt: #292b37;

    --success-color: #4acfab;
    --success-color-alt: #4edeb8;

    --info-color: #37c7d0;
    --info-color-alt: #39ccd7;

    --error-color: #ff6961;
    --error-color-alt: #fa7069;
    
    --warning-color: #FFFAA0;
    --warning-color-alt: #fcf8ad;
    
    --border-color: #282828;
    --border-color-alt: #4c4b4b;

    --tooltip-color: #1b1b1b;

    --input-height: 2.5rem;
    --swatch-size: var(--input-height);

    /* Border Radius / Corners */
    --border-width: 1px;
    --border-width-more: 4px;
    --border-radius: 0.5rem;
    --border-radius-more: 1.5rem;
    --border-radius-minimal: 0.25rem;

    /* Elements */
    --button-border-radius: 1.2rem;
    --progress-bar-height: 0.75rem;
    --meter-bar-height: 0.5rem;
    --slider-height: 0.75rem;

    --margin: 2rem;
    --padding: 1rem;
    --padding-less: 0.4rem;
    --padding-minimal: 0.25rem;
    --gap: 0.75rem;
    --gap-more: 1rem;
    --gap-less: 0.25rem;
    
    --font-size-max: 3rem;
    --font-size: 1rem;
    --font-size-smaller: 0.85rem;
    --font-size-smallest: 0.75rem;
    --icon-size: 1rem;
    --label-size: 0.9rem;
    --code-size: 0.9rem;
    --profile-picture-size: 3.5rem;

    --checkbox-size: 1.25rem;
    --switch-size: 1.5rem;
    --sidebar-width: 300px;

    --shadow-depth: 1px;
    --min-scrollable-height: 200px;
}

.text-muted {
    color: var(--color-muted);
}

.link {
    color: var(--info-color);
}

.username,
.subtext {
    display: -webkit-box;
    -webkit-line-clamp: 1;
            line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: var(--font-size-smaller);
}

.username {
    font-size: var(--font-size);
}

.subtext {
    font-size: var(--font-size-smaller);
}


.hover-text {
    cursor: default;
}
.hover-text:before {
    content: attr(data-hover-text);
    position: absolute;
    width: fit-content;
    max-width: var(--sidebar-width);
    padding: var(--padding-less);
    border-radius: var(--border-radius-minimal);
    border: var(--border-width) solid var(--border-color);
    background: var(--tooltip-color);
    color: var(--color);
    font-size: var(--font-size-smaller);
    text-align: start;
    display: none;
    height: fit-content;
    z-index: 100;
    transform: translateY(var(--font-size));
    pointer-events: none;
    transition: all var(--animation-speed);
}
.hover-text:hover:before {
    display:block;
}
code {
    background-color: var(--alt-color);
    padding: var(--padding-minimal);
    border-radius: var(--border-radius-minimal);
    font-size: var(--code-size);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    opacity: 1;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: var(--border-radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--alt-color);
    border-radius: var(--border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

/* Disable the corner of scrollbars */
::-webkit-scrollbar-corner {
    background-color: transparent;
}
  