<div class="container bordered">
    <h2 class="title">Download Queue</h2>
    <div class="download-queue">
        <h2 class="queue-title">Downloads:</h2>
        <div class="file">
            <div class="progress">
                <label class="file-label">SomeZipFile-2123-49.zip</label>
                <div class="progress-bar">
                    <div class="track">
                        <div class="bar" style="width: 50%"></div>
                    </div>
                    <label class="progress-label">Download: 50% (61.7mb/123.45mb)</label>
                </div>
            </div>
            <div class="controls">
                <button class="button alt icon">
                    <svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.75 5.25L15.75 18.75M8.25 5.25V18.75" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </button>
                <button class="button alt icon">
                    <svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 18L18 6M6 6L18 18" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="file">
            <div class="progress">
                <label class="file-label">Cat-Picture.jpg</label>
                <div class="progress-bar">
                    <div class="track">
                        <div class="bar" style="width: 95%"></div>
                    </div>
                    <label class="progress-label">Download: 95% (95mb/100mb)</label>
                </div>
            </div>
            <div class="controls">
                <button class="button alt icon">
                    <svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.75 5.25L15.75 18.75M8.25 5.25V18.75" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </button>
                <button class="button alt icon">
                    <svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 18L18 6M6 6L18 18" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="file">
            <div class="progress">
                <label class="file-label">Uplink.dmg</label>
                <div class="progress-bar">
                    <div class="track">
                        <div class="bar" style="width: 75%"></div>
                    </div>
                    <label class="progress-label">Download: 75% (75mb/100mb)</label>
                </div>
            </div>
            <div class="controls">
                <button class="button alt icon">
                    <svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.75 5.25L15.75 18.75M8.25 5.25V18.75" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </button>
                <button class="button alt icon">
                    <svg class="svg-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 18L18 6M6 6L18 18" stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>