<div class="download-queue">
    <h2 class="title">Downloads:</h2>
    <div class="file">
        <label class="file-label">SomeZipFile-2123-49.zip</label>
        <div class="progress-bar">
            <div class="track">
                <div class="bar" style="width: 50%"></div>
            </div>
            <label class="progress-label">Download: 50% (61.7mb/123.45mb)</label>
        </div>
    </div>
    <div class="file">
        <label class="file-label">Cat-Picture.jpg</label>
        <div class="progress-bar">
            <div class="track">
                <div class="bar" style="width: 95%"></div>
            </div>
            <label class="progress-label">Download: 95% (95mb/100mb)</label>
        </div>
    </div>
    <div class="file">
        <label class="file-label">Uplink.dmg</label>
        <div class="progress-bar">
            <div class="track">
                <div class="bar" style="width: 75%"></div>
            </div>
            <label class="progress-label">Download: 75% (75mb/100mb)</label>
        </div>
    </div>
    <div class="file">
        <label class="file-label">Not-A-Real-File.rar</label>
        <div class="progress-bar">
            <div class="track">
                <div class="bar" style="width: 10%"></div>
            </div>
            <label class="progress-label">Download: 10% (10mb/100mb)</label>
        </div>
    </div>
</div>