.download-queue {
    display: inline-flex;
    flex-direction: column;
    gap: var(--gap);
    background: var(--alt-color);
    border: var(--border-width) solid var(--border-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
}
.download-queue .queue-title {
    font-size: var(--label-size);
    color: var(--color);
}
.download-queue .file {
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    padding: var(--padding-less) var(--padding);
    background-color: var(--alt-color-alt);
    display: inline-flex;
    align-items: center;
    gap: var(--gap);
    transition: all var(--animation-speed);
}
.download-queue .file .progress {
    flex: 1;
}
.download-queue .file:hover {
    border: var(--border-width) solid var(--primary-color);
}
.download-queue .file .controls {
    padding-left: var(--gap);
}