/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

/* Begin CSS Clear */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    width: 100%;
    display: flex;
    background-color: red;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* End CSS Clear */

@font-face {
    font-family: "Primary";
    src: url('/assets/font/Poppins-Regular.ttf');
}

@font-face {
    font-family: "Secondary";
    src: url('/assets/font/SpaceMono-Regular.ttf');
}

strong {
    font-family: "Secondary";
}

del {
    color: var(--color);
    text-decoration-color: var(--error-color);
}

html {
    overflow: hidden;
}

body {
    background-color: var(--background);
    font-family: "Primary";
    font-size: var(--font-size);
    color: var(--color);
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

::selection {
    color: var(--color-bright);
    background: var(--highlight-color);
    border-radius: var(--border-radius);
}

.flex {
    flex: 1;
}

.flex-row {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
}

.centered {
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: inline-flex;
    flex-direction: column !important;
    gap: var(--gap);
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-end {
    justify-content: flex-end;
}

.full-width {
    flex: 1;
    min-width: fit-content;
    min-width: 100%;
}


.text-muted {
    color: var(--color-muted);
}

.divider {
    width: 100%;
    border: none;
    border-top: var(--border-width) solid var(--border-color);
}

.link {
    color: var(--info-color);
}

.username {
    font-size: var(--font-size);
}

.subtext {
    font-size: var(--font-size-smaller);
}

.control {
    &:hover {
        cursor: pointer;
    }
}

.hover-text {
    cursor: default;
}
.hover-text:before {
    content: attr(data-hover-text);
    position: absolute;
    width: fit-content;
    padding: var(--padding-less);
    border-radius: var(--border-radius-minimal);
    border: var(--border-width) solid var(--border-color);
    background: var(--tooltip-color);
    color: var(--color);
    font-size: var(--font-size-smaller);
    text-align: start;
    display: none;
    height: fit-content;
    z-index: 1000;
    transform: translateY(var(--font-size));
    pointer-events: none;
    transition: all var(--animation-speed);
}
.hover-text:hover:before {
    display:block;
}
code {
    background-color: var(--alt-color);
    padding: var(--padding-minimal);
    border-radius: var(--border-radius-minimal);
    font-size: var(--code-size);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    opacity: 1;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-alt);
    border-radius: var(--border-radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--alt-color-alt);
    border-radius: var(--border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

/* Disable the corner of scrollbars */
::-webkit-scrollbar-corner {
    background-color: transparent;
}
