:root {
    --primary-font: "Poppins";

    --black: #000;
    --background: #0d0e16;
    --background-alt: color-mix(in srgb, var(--background) 60%, #21263a);

    --animation-speed: 0.2s;
    --animation-speed-mid: 1s;
    --animation-speed-slow: 2s;
    --animation-style: ease;

    --color: #d7e2ff;
    --color-bright: #fff;
    --color-muted: #a2b2ee;
    --color-alt: #d7e2ff;
    --placeholder-color: #97a7e4;
    --link-color: #8d8dfc;

    --focus-color: var(--primary-color);
    --highlight-color: #4d4dff;

    --primary-color: #4d4dff;
    --primary-color-alt: color-mix(in srgb, var(--primary-color) 90%, white);

    --alt-color: #21263a;
    --alt-color-alt: #23293e;

    --cp-bg-color: transparent;
    --input-size: var(--input-height);
    --cp-border-color: transparent;
    --cp-input-color: var(--color);

    --success-color: #12c046;
    --success-color-alt: color-mix(in srgb, var(--success-color) 90%, white);

    --info-color: #0771fa;
    --info-color-alt: color-mix(in srgb, var(--info-color) 90%, white);

    --error-color: #f93854;
    --error-color-alt: color-mix(in srgb, var(--error-color) 90%, white);

    --warning-color: #feca57;
    --warning-color-alt: color-mix(in srgb, var(--warning-color) 90%, white);

    --border-color: #1c1d2b;
    --border-color-alt: color-mix(in srgb, var(--border-color) 90%, white);

    --tooltip-color: #0f121b;

    --input-height: 2.75rem;
    --spacer-size: 2rem;
    --swatch-size: var(--input-height);

    --disabled-opacity: 0.75;

    --opaque-color: rgba(18, 21, 33, 0.9);
    --blur-radius: 16px;
    --blur-radius-more: 26px;

    /* Border Radius / Corners */
    --border-width: 1px;
    --border-width-more: 3px;
    --border-radius-medium: 1rem;
    --border-radius: 0.5rem;
    --border-radius-more: 1.5rem;
    --border-radius-less: 0.35rem;
    --border-radius-minimal: 0.25rem;

    /* Elements */
    --button-border-radius: 2rem;
    --progress-bar-height: 0.75rem;
    --meter-bar-height: 0.5rem;
    --slider-height: 0.75rem;

    --margin: 2rem;
    --padding: 1rem;
    --padding-less: 0.6rem;
    --padding-minimal: 0.33rem;
    --gap: 0.75rem;
    --gap-more: 1rem;
    --gap-less: 0.45rem;

    --font-size-max: calc(var(--font-size) * 3);
    --font-size-large: calc(var(--font-size) + 0.5rem);
    --font-size: 1rem;
    --font-size-smaller: calc(var(--font-size) - 0.15rem);
    --font-size-smallest: calc(var(--font-size) - 0.25rem);
    --emoji-size: 2rem;
    --icon-size: 1.15rem;
    --icon-size-large: 1.7rem;
    --icon-size-larger: 3rem;
    --icon-size-largest: 4rem;
    --label-size: calc(var(--font-size) - 0.2rem);
    --code-size: calc(var(--font-size) - 0.1rem);
    --profile-picture-size: 3.5rem;

    --file-folder-size: 125px;
    --checkbox-size: 1.25rem;
    --switch-size: 1.5rem;
    --sidebar-width: 350px;
    --profile-width: 720px;

    --shadow-depth: 1px;
    --min-scrollable-height: 200px;
    --base-scrollable-height: 350px;
    --max-component-width: 600px;
    --min-component-width: 300px;

    --context-width: 300px;
    --mini-user-width: 130px;
    --popup-width: 30rem;
    --popup-height: 20rem;
    --min-call-screen-height: 15rem;
    --emoji-selector-height: 30rem;
    --sticker-width: 8.5rem;
    --sticker-width-rendered: 18rem;
    --wallet-width: 21rem;
}
