name: reviewdog
on:
    pull_request:
        types: [opened, synchronize, reopened, edited]

jobs:
    misspell:
        name: runner / misspell
        runs-on: ubuntu-latest
        permissions:
            checks: write
            pull-requests: write
            contents: write
            issues: read
        steps:
            - name: Check out code
              uses: actions/checkout@v4.2.2
            - name: misspell
              uses: reviewdog/action-misspell@v1.23.0
              with:
                  github_token: ${{ secrets.github_token }}
                  locale: "US"
                  reporter: github-pr-review
                  level: error
                  exclude: |
                      ./node_modules/*
