name: Build Linux Release
on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    build-linux-release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4.2.2

            - name: setup node
              uses: actions/setup-node@v4.0.4
              with:
                  node-version: lts/*

            - name: install Rust stable
              uses: dtolnay/rust-toolchain@stable

            - name: install dependencies (ubuntu only)
              run: |
                  sudo apt-get update
                  sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

            - name: install frontend dependencies
              run: npm install

            - uses: tauri-apps/tauri-action@v0.5.15
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Calculate hashes
              run: |
                  sha256sum src-tauri/target/release/bundle/deb/*.deb > src-tauri/target/release/bundle/deb/SHA256SUM

            - name: Upload Ubuntu installer
              uses: actions/upload-artifact@v4.4.0
              with:
                  name: build-ubuntu
                  path: |
                      src-tauri/target/release/bundle/deb/*.deb
                      src-tauri/target/release/bundle/deb/SHA256SUM
                  retention-days: 5
